{% extends 'base.html.twig' %}

{% block title %}Edition d'un refuge!{% endblock %}

{% block body %}



<div class="container">
  <div class="row">
    
  </div>

  <h2><i class="fas fa-paw"></i> Edition du refuge <i class="fas fa-paw"></i></h2>

</div>

{{ form_start(form) }}
<div class="container">
  <div class="row ">
      <div class="col-lg-5"> {{ form_row(form.name) }}</div>
  </div>
  <div class="row text-danger">
      <div class="col-lg-3"> {{ form_row(form.siretNumber) }}</div>
  </div>
  <div class="row text-success">
      <div class="col-lg-12"> {{ form_row(form.description) }}</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-3"> {{ form_row(form.firstname) }}</div>
    <div class="col-lg-3"> {{ form_row(form.lastname) }}</div>
    <div class="col-lg-6"> {{ form_row(form.picture1) }} </div>
    
  </div>

  <div class="row">

    <div class="col-lg-3"> {{ form_row(form.street_number) }}</div>
    <div class="col-lg-3"> {{ form_row(form.street_name) }}</div>
    <div class="col-lg-3"> {{ form_row(form.zipcode) }}</div>
    <div class="col-lg-3"> {{ form_row(form.city) }}</div>
  </div>
  <div class="row">

  
    <div class="col-lg-3"> {{ form_row(form.country) }} </div>
   
  </div>
  
  {{ form_widget(form) }}
  <button type="submit">Envoyer</button>
  
  </div>
</div >
{{ form_end(form) }} 

  {% endblock  %}