<h1>Nouveau contact</h1>
<p>Prénom : {{contact.firstname}}</p>
<p>Nom : {{contact.lastname}}</p>
<p>E-mail : {{contact.email}}</p>
<p>Profil du contact : {{contact.profile}}</p>
<p>Message : <span>{{contact.message|raw}}</span></p>