<h3>Cher refuge, vous avez un nouveau message de contact via l'application ORefuge</h3>
<br />
<p>Prénom : {{shelterContact.firstname}}</p>
<p>Nom : {{shelterContact.lastname}}</p>
<p>E-mail : {{shelterContact.email}}</p>
<p>Téléphone : {{shelterContact.phone}}</p>
<p>Message : <span>{{shelterContact.message|raw}}</span></p>